#caja1 {
  width: 96px;
  height: 96px;
  margin-top: 50px;
  margin-left: -100px; 
}



#img {
  width: 96px;
  height: 96px;
  margin-left: 140px;
}

#nom {
  padding-left: 0px;
  margin-top: 10px;
  margin-left: 170px;
}
#nombre {
  padding-left: 0px;
  margin-top: -40px;
  margin-left: 240px;
}

#id {
  padding-left: 0px;
  margin-top: -px;
  margin-left: 170px;
}
#idn {
  padding-left: 0px;
  margin-top: -40px;
  margin-left: 200px;
}

#def {
  padding-left: 0px;
  margin-top: 10px;
  margin-left: 170px;
}
#deff {
  padding-left: 0px;
  margin-top: -40px;
  margin-left: 240px;
}

#sal {
  padding-left: 0px;
  margin-top: 10px;
  margin-left: 170px;
}
#sall {
  padding-left: 0px;
  margin-top: -40px;
  margin-left: 235px;
}

#ata {
  padding-left: 0px;
  margin-top: 10px;
  margin-left: 170px;
}
#ataa {
  padding-left: 0px;
  margin-top: -40px;
  margin-left: 235px;
}

